.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50vw;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50vw;

  padding-bottom: 20px;
  border-bottom: 1px solid var(--light-color);
}

.main header h1{
  line-height: 110px;
  font-size: 52px;
}